<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="..\static\css\style.css">
    <link rel="icon" href="..\static\icon.ico">       
    <title>Automatic ML Renderer</title> 
</head>

<body>
    <br>
    <div class="header">
    <img src="..\static\icon.png"  class='icon'>
    <h1 class='heading'>ML Renderer</h1>
    <br>
    </div>
    
    <hr class='divider'>
    <br>
    <div class="desc">
        <p>
            <h2>The TIME has come for you to bring Machine Learning to LIFE.</h2>
        <h3>You can now just add your dataset and get pre-trained model with the code.</h3>
        Even if you don't know to write a single line of code, you can get machine learning code rendered following just a few steps.
        <br>
        <ul>
            <li>
                <h4>Step 1: <b>Upload your dataset in CSV format on this page and click on submit. You will be redirected to a new page.</b></h4>   
            </li>
            
        </ul>
        </p>
    </div>

    <form action="" method="post" enctype="multipart/form-data">
        <div class='main'>
            <div class="inputs">
                    <div class="number">
                        1
                    </div>
                    <input type="file" name="csvfile" class="input">
            </div>
            <div class="inputs">
                <input type="submit" value="Submit" class="submit">
            </div>
        </div>
     </form>
</body>
</html>